<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:cache="http://www.springframework.org/schema/cache"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/aop	http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd" default-autowire="byName">

    <cache:annotation-driven cache-manager="cacheManager" />
    <bean id="cacheManagerFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
          p:configLocation="classpath:ehcache.xml"
          p:shared="true"/>
    <!-- 声明cacheManager -->
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager"
          p:cacheManager-ref="cacheManagerFactory" />

    <context:component-scan base-package="com.qpp.action,com.qpp.test,com.qpp.service,com.qpp.dao" >
		<!--<context:exclude-filter type="annotation"  expression="org.springframework.stereotype.Service" />-->
	</context:component-scan>
	
	<mvc:annotation-driven>
		<mvc:message-converters>
        	<bean class="org.springframework.http.converter.StringHttpMessageConverter">
            	<property name="supportedMediaTypes">
                	<list>
                    	<!--<value>application/json;charset=UTF-8</value>-->
                        <value>text/plain;charset=UTF-8</value>
                	</list>
	           	</property>
        	</bean>
    	</mvc:message-converters>
    </mvc:annotation-driven>	
	<!--<bean  class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"></bean>-->
	<bean  class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">  
    	<property name="messageConverters">  
        	<list>  
            	<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
            	</bean>  
        	</list>  
    	</property>  
	</bean>	
	<!--<mvc:view-controller path="/jsp/" view-name="hello"/>-->
	<mvc:interceptors>
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
<!--
        <mvc:interceptor>
            <mvc:mapping path="/common/*" />
            <bean class="com.qpp.filter.springFilter"/>
        </mvc:interceptor>
-->
        </mvc:interceptors>
    <mvc:default-servlet-handler/>
	<!-- Saves a locale change using a cookie -->
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver" />
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames" value="message" />
    </bean>
	<!-- Resolves view names to protected .jsp resources within the /WEB-INF/views directory -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
<!--
    <bean class="org.springframework.web.servlet.view.tiles2.TilesViewResolver"/>
    <bean class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
        <property name="definitions">
            <list>
                <value>/WEB-INF/viewsviews.xml</value>
            </list>
        </property>
    </bean>
-->

    <!--
     <bean id="simpleUrlHandlerMapping"
         class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
         <property name="mappings">
             <props>
                 <prop key="/hello.do">helloController</prop>
                 <prop key="/show.do">showController</prop>
             </props>
         </property>
     </bean>
      -->
	
</beans>
